<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
		/>
		<title>Document</title>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<v-app id="app">
			<v-app-bar app clipped-left>
				<v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
				<v-toolbar-title>
					ID プロバイダーとフェデレーションのデモ
				</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn icon>
					<v-icon>mdi-heart</v-icon>
				</v-btn>
				<v-btn icon>
					<v-icon>mdi-magnify</v-icon>
				</v-btn>
				<v-menu left bottom>
					<template v-slot:activator="{ on, attrs }">
						<v-btn icon v-bind="attrs" v-on="on">
							<v-icon>mdi-dots-vertical</v-icon>
						</v-btn>
					</template>

					<v-list>
						<v-list-item v-for="n in 5" :key="n" @click="() => {}">
							<v-list-item-title>Option {{ n }}</v-list-item-title>
						</v-list-item>
					</v-list>
				</v-menu>
			</v-app-bar>

			<v-navigation-drawer v-model="drawer" app clipped bottom>
				<v-list dense>
					<v-list-item-group>
						<v-list-item v-for="menu of dumyMenus" :key="menu">
							<v-list-item-title>{{ menu }}</v-list-item-title>
						</v-list-item>
					</v-list-item-group>
				</v-list>
			</v-navigation-drawer>

			<v-main>
				<v-container>
					<v-row>
						<v-col cols="8">
							<v-card>
								<v-card-title>
									Google OIDCから受け取ったIDトークン
								</v-card-title>
								<v-card-text>
									<v-simple-table>
										<template v-slot:default>
											<thead>
												<tr>
													<th class="text-left">key</th>
													<th class="text-left">value</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>IDトークン（id_token）</td>
													<td><%= idToken %></td>
												</tr>
											</tbody>
										</template>
									</v-simple-table>
								</v-card-text>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn color="primary" @click="getFunction">
										実際にAWSを操作
									</v-btn>
								</v-card-actions>
							</v-card>
						</v-col>
						<v-col cols="8" v-if="resData">
							<v-card>
								<v-card-title> getFunctionの結果 </v-card-title>
								<v-card-text>
									<v-simple-table>
										<template v-slot:default>
											<thead>
												<tr>
													<th class="text-left">key</th>
													<th class="text-left">value</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>$metadata.httpStatusCode</td>
													<td>{{ resData.$metadata.httpStatusCode }}</td>
												</tr>
												<tr>
													<td>$metadata.requestId</td>
													<td>{{ resData.$metadata.requestId }}</td>
												</tr>
												<tr>
													<td>Configuration.CodeSize</td>
													<td>{{ resData.Configuration.CodeSize }}</td>
												</tr>
												<tr>
													<td>Configuration.FunctionName</td>
													<td>{{ resData.Configuration.FunctionName }}</td>
												</tr>
												<tr>
													<td>Configuration.Handler</td>
													<td>{{ resData.Configuration.Handler }}</td>
												</tr>
												<tr>
													<td>Configuration.PackageType</td>
													<td>{{ resData.Configuration.PackageType }}</td>
												</tr>
												<tr>
													<td>Configuration.State</td>
													<td>{{ resData.Configuration.State }}</td>
												</tr>
											</tbody>
										</template>
									</v-simple-table>
								</v-card-text>
							</v-card>
						</v-col>
					</v-row>
				</v-container>
			</v-main>
			<v-footer app padless>
				<v-col class="text-center" cols="12">
					{{ new Date().getFullYear() }} —
					<strong>Authorization Code Flow Demo</strong>
				</v-col>
			</v-footer>
		</v-app>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify(),
				data: () => ({
					drawer: false,
					dumyMenus: ['Foo', 'Bar', 'Fizz', 'Buzz'],
					resData: null
				}),
				methods: {
					async getFunction() {
						try {
							const response = await fetch('/getFunction', { method: 'GET' });
							const data = await response.json();
							this.resData = data;
							console.log(this.resData);
						} catch (error) {
							console.log(error);
						}
					}
				}
			});
		</script>
	</body>
</html>
